#!/bin/bash

# in kilobytes
export GCRYPT_TEST_REPACK_SCENARIO_BLOB_SIZE=100

# NOTE: for fish add .fish on end; zsh has its own script, too
source ./completions/$(basename $SHELL)/git-remote-gcrypt

