---
name: CI

"on": push

jobs:
  # Handles Ubuntu and macOS
  install-unix:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y git python3-docutils

      - name: Dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install coreutils python3 git
          brew install coreutils python3 git docutils

      - name: Pre-test
        run: make inst/pretest

      - name: Install
        run: sudo make install # TODO: is sudo needed here?

      - name: Verify
        run: make inst/verify

  # Handles RedHat (UBI Container)
  install-rh:
    runs-on: ubuntu-latest

    container:
      image: registry.access.redhat.com/ubi9/ubi:latest

    steps:
      - uses: actions/checkout@v4

      - name: Dependencies [redhat]
        run: dnf install -y git python3-docutils make

      - name: Pre-test
        run: make inst/pretest

      - name: Install
        run: make install

      - name: Verify
        run: make inst/verify
