---
name: CI

"on": push

permissions:
  contents: read

jobs:
  install-deb:
    runs-on: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test Installer Logic
        run: bash ./tests/test-install-logic.sh

      - name: Verify OS Version [debian]
        run: grep 'ID_LIKE=debian' /etc/os-release

      - name: Install script [debian]
        run: sudo ./install.sh

      - name: Test Install & Script Version [redhat]
        run: bash ./tests/verify-system-install.sh

  install-rh:
    runs-on: ubuntu-latest
    container: # RedHat test on GitHub needs docker container
      image: registry.access.redhat.com/ubi9/ubi:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test Installer Logic
        run: bash ./tests/test-install-logic.sh

      - name: Verify OS Version [redhat]
        run: cat /etc/redhat-release

      - name: Install System Dependencies [redhat]
        run: dnf install -y git python3-docutils

      - name: Install script [redhat]
        run: ./install.sh

      - name: Test Install & Script Version [redhat]
        run: bash ./tests/verify-system-install.sh
