---
name: compat

on:
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # Weekly on Sundays

jobs:
  # Validate 3 versions of git
  git:
    name: Git Compatibility (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git curl python3-docutils

      - name: Run Tests
        run: make test

  # Validate completions for bash, zsh, and fish
  shell-bash-zsh-fish:
    name: Shell Completion Syntax
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Show git version
        run: git --version

      - name: Install Shells
        run: |
          sudo apt-get update
          sudo apt-get install -y zsh fish

      - name: Generate Completions (if not up to date)
        run: make generate

      - name: Check Bash Syntax
        run: bash -n completions/bash/git-remote-gcrypt

      - name: Check Zsh Syntax
        run: zsh -n completions/zsh/_git-remote-gcrypt

      - name: Check Fish Syntax
        run: fish --no-execute completions/fish/git-remote-gcrypt.fish
