---
name: compat

on:
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # Weekly on Sundays

jobs:
  # Validate 3 versions of git
  git:
    name: Git / GnuPG Compatibility
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [ubuntu:20.04, ubuntu:22.04, ubuntu:24.04]

    steps:
      - uses: actions/checkout@v4

      - name: Tool versions (check)
        run: |
          gpg --version
          git --version

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git curl python3-docutils

      - name: Run Tests
        run: make test

  # Validate completions for bash, zsh, and fish
  shell-bash-zsh-fish:
    name: Shell Completion Syntax
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Tool versions (check)
        run: |
          bash --version
          zsh --version
          fish --version

      - name: Install Shells
        run: |
          sudo apt-get update
          sudo apt-get install -y zsh fish

      - name: Generate Completions (if not up to date)
        run: make generate

      - name: Check Bash Syntax
        run: bash -n completions/bash/git-remote-gcrypt

      - name: Check Zsh Syntax
        run: zsh -n completions/zsh/_git-remote-gcrypt

      - name: Check Fish Syntax
        run: fish --no-execute completions/fish/git-remote-gcrypt.fish
